/* Portal.css */

.portal-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .input-field {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-field:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #cf0b15;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .payment-button {
    width: 100%;
    padding: 12px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .login-button:active {
    background-color: #004080;
  }
  